.b-tabmenu__item--active-- {
  background-color: #f0f0f0;
  font-size: 15px;
}
#succes--.b-block8-- {
    font-weight: bold;
    color: #d0d0d0;
    background: url("//img.imgsmail.ru/r/webagent/images/ny/text_fadeout.png")
}
